{
  "presets": [ "es2015", "stage-0", "react"],

  /* if you want to use babel runtime, uncomment the following line */
   "plugins": ["transform-decorators-legacy","css-modules-transform"],
   
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
